<% javascript 'about' %>
<div id="about-container">
  <a name="hero"/>
  <section class="hero-banner">
    <h1>sup, <span>I'm brandon</span></h1>
    <h2>And this is my blog, where I like to share my thoughts and work.</h2>
    <i class="icon-chevron-sign-down icon-4x"></i>
  </section>
  <a name="who"/>
  <section class="who">
    <h1>Here's my A-type life</h1>
    <div class="who-inner">
      <div class="who-silo">
        <div class="silo-inner" id='pm' >
          <i class="icon-puzzle-piece icon-8x"></i>
          <h2>I'm a product manager &nbsp;<i class="icon-arrow-down"></i></h2>
          <div class="silo-inner-pm">
            <div class="silo-inner-content">
              <p>Currently a PM at<a class="link" href="http://www.freshbooks.com" target="blank"> Freshbooks</a></p>
              <p>Co-founded <a class="link" href="http://www.tunezy.com" target="blank">Tunezy</a> as head of product</p>
            </div>
          </div>
        </div>
      </div>
      <div class="who-silo" >
        <div class="silo-inner"id='fin'>
          <i class="icon-bar-chart icon-8x"></i>
          <h2>I was a finance guy &nbsp;<i class="icon-arrow-down"></i></h2>
          <div class="silo-inner-fin">
            <div class="silo-inner-content">
              <p>3.5 years at Kraft Foods</p>
              <p>CPA, CMA</p>
            </div>
          </div>
        </div>
      </div>
      <div class="who-silo" >
        <div class="silo-inner"id='code'>
          <i class="icon-code-fork icon-8x"></i>
          <h2>I'm learning to code &nbsp;<i class="icon-arrow-down"></i></h2>
          <div class="silo-inner-code">
            <div class="silo-inner-content">
              <table>
                <tr>
                  <th>So far:</th>
                  <th>On deck:</th>
                </tr>
                <tr>
                  <td>HTML/CSS</td>
                  <td>Android</td>
                </tr>
                <tr>
                  <td>Javascript, JQuery</td>
                  <td>AngularJS</td>
                </tr>
                <tr>
                  <td>Ruby on Rails</td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="who-silo" >
        <div class="silo-inner"id='space'>
          <i class="icon-rocket icon-8x"></i>
          <h2>My life goal is to fly to space &nbsp;<i class="icon-arrow-down"></i></h2>
          <div class="silo-inner-space">
            <div class="silo-inner-content">
              <p>Plan A: &nbsp;Make a lot of money</p>
              <p>Plan B: &nbsp;Cost of launches go down</p>
              <p>Plan C: &nbsp;Live for 1000 years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <i class="icon-chevron-sign-down icon-4x"></i>
  </section>
  <a name="b-type"/>
  <section class="b-type">
    <h1>Here's my b-type life</h1>
      <div class="b-type-inner">
      <div class="info">
        <div class="info-inner-one">
          <p>Happily.</p>
          <p>Frosh week sweethearts</p>
          <p>Wife is also a <a class="info-link" href="http://www.theglobeandmail.com/report-on-business/careers/career-advice/from-zero-to-web-programmer-in-nine-weeks/article11684850/" target="blank">risk taker</a></p>
        </div>
      </div>
      <div class="quarter one">
        <p>Married</p>
      </div>
      <div class="quarter two">
        <p>Poker</p>
      </div>
      <div class="info">
        <div class="info-inner-two">
          <p>Played in WSOP</p>
          <p>Built a winning bot algorithm</p>
          <p>Paid for university with winnings</p>
        </div>
      </div>
      <div class="info">
        <div class="info-inner-three">
          <p><a class="info-link" href="http://imgur.com/yjM1ckT" target="blank">Ridin' dirty</a></p>
          <p>Biked to Montreal on Canadian Tire bike</p>
          <p>Bikes got stolen the night we got there</p>
        </div>
      </div>
      <div class="quarter three">
        <p>Cycling</p>
      </div>
      <div class="quarter four">
        <p>Philosophy</p>
      </div>
      <div class="info">
        <div class="info-inner-four">
          <p>"True knowledge exists in knowing that you know nothing."</p>
          <p>- Socrates</p>
        </div>
      </div>
    </div>
    <i class="icon-chevron-sign-down icon-4x"></i>
  </section>
  <a name="contact"/>
  <section class="contact">
    <h1>Contact</h1>
    <h2><a href="mailto:brandon.mk.chu@gmail.com?Subject=Howdy" target="blank" class="link-contact">Email</a> || <a href="http://ca.linkedin.com/pub/brandon-chu-cma/24/231/71" class="link-contact" target="blank">LinkedIn</a> || <a href="https://twitter.com/BrandonMChu" target="blank" class="link-contact">Twitter</a></h2>
    <i class="icon-chevron-sign-up icon-4x"></i>
  </section>
</div>
