<% javascript 'about' %>
<div id="about-container">
  <section class="hero-banner">
    <h1>sup, <span>I'm brandon</span></h1>
  </section>
  <section class="who">
    <h1>Here's my life in 1000px</h1>
  </section>
  <section class="contact">
    <h1>Here's my life in 1000px</h1>
  </section>
</div>
