<div id="header-container">
  <div class="header-inner">
    <div class="header-inner-left">

      <div class="headshot">
      </div>
      <h2>Brandon Chu</h2>
    </div>
    <div class="header-inner-right">
      <%= link_to about_path do %>
        <% if controller?("static_pages") && action?("about") %>
          <div class="header-menu current">
        <% else %>
          <div class="header-menu">
        <% end %>
          <h2>About</h2>
        </div>
      <% end %>
      <%= link_to root_path do %>
        <% if controller?("posts") && action?("index") %>
          <div class="header-menu current">
        <% else %>
          <div class="header-menu">
        <% end %>
          <h2>Blog</h2>
        </div>
      <% end %>

    </div>
  </div>
</div>
