<div class="hero-container">
  <div class="hero-inner">
    <div class="hero-naut">
    <%= image_tag("AstronautSmall.png") %>
    </div>
    <div class="hero-copy">
      <h1>This is probably overkill for a blog.</h1>
    </div>
  </div>
</div>

<div class="card-container">
  <%= render :partial => 'shared/postCard', :object => {:posts => @posts, :latestpost => @heroPost } %>
</div>
  <% if signed_in? %>
  <%= link_to 'admin', current_user %>
  <% end %>
