#footer-container {
  height:60px;
  width:100%;
  background-color: #2B3856;

  .footer-inner-right {
    width:50%;
    float:right;
    text-align: right;
    color:#FFF;

    p{
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 10px;
      margin-top: 24px;
      margin-right: 15px;
    }
  }

}
// #737CA1
