$container-width: 1000px;

body {
  background-color: #EEE;
}

.hero-container {
  margin:0px auto 20px;
  overflow:auto;
  background-image: url('hero_bkgrnd.jpg');
  height:400px;
}

.hero-card {
  margin:0 auto 50px;
  overflow: auto;
  width:$container-width;
  background-color: #FFF;

  .hero-card-inner {
    padding:15px;
    overflow: auto;
  }

  img {
  display: block;
  float:left;
  }

  .span {
  display:block;
  height:100%;
  }

  p {
    margin-bottom: 5px;
  }

}

.latest-posts {
  font-size: 60px;
  text-transform: uppercase;
}

.older-posts {
  font-size: 60px;
  text-transform: uppercase;
  width:$container-width;
  margin:auto;
}

.card-container {
  width:$container-width;
  margin: auto;
  overflow:auto;

  .post-card {
  width:20%;
  float:left;
  margin-bottom: 10px;
  position: relative;
  margin-right:2.5%;
  margin-left:2.5%;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px #999;

  .card-inner {
    padding:10px;
    background-color: #FFF;
  }

  img {
    margin:auto;
    display: block;
    max-width: 100%;
  }

  p {
    padding:3px;
    margin-bottom: 5px;
  }
  .blurb {
      font-size: 10px;
  }


  }
}

.date {
    font-size:10px;
    color:#999;
  }
