.content-container {
  width:1000px;
  margin:20px auto;
  overflow:auto;
}

.hero-card {
  margin-bottom: 50px;
  overflow: auto;

  img {
  display: block;
  float:left;
  }

  .span {
  display:block;
  height:100%;
  }

  p {
    margin-bottom: 5px;
  }

}

.card-container {
  margin: auto;
  overflow:auto;



  .post-card {
  width:25%;
  float:left;
  margin-bottom:10px;
  position: relative;

  img {
    margin:auto;
    display: block;
    max-width: 100%;
  }

  p {
    padding:3px;
    margin-bottom: 5px;
  }
  .blurb {
      font-size: 10px;
  }

  }
}


