.content-container {
  width:1000px;
  margin:auto;
  overflow:auto;
}

.card-container {
  margin:auto;
  overflow:auto;

  .postCard {
  width:20%;
  height:400px;
  float:left;
  margin-bottom:10px;
  position: relative;

  img {
    margin:auto;
    display: block;
  }

  p {
    position:absolute;
    bottom:1px;
    left:1px;

  }

  }
}


