#post-container{
  width:1000px;
  margin:auto;
  padding-top: 60px;
  min-height: 100%;

a{
  color:#00CDCD;
  font-weight: 700;
}

.post-inner {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  .post-picture{
    height:400px;
    overflow:hidden;
    border-radius: 10px;

    img {
    width:100%;
    border-radius: 10px;
    }

  }

  .post-picture-quote{
    height:750px;
    overflow:hidden;
    border-radius: 10px;
  }

  img {
    display:block;
    margin:auto;
    width:100%;
    border-radius: 10px;
  }



  .post-overlay {
    background-color: #000;
    height: 400px;
    width:100%;
    opacity: 0.5;
    position: absolute;
    top:20px;
    left:0px;
    border-radius: 10px;

    .post-date {
      position: absolute;
      right:20px;
      top:360px;
      color:#FFF;
    }
  }

  .post-overlay-quote {
    background-color: #000;
    width:100%;
    height:750px;
    opacity: 0.5;
    position: absolute;
    top:20px;
    left:0px;
    border-radius: 10px;

    .post-date {
      position: absolute;
      right:20px;
      bottom:20px;
      color:#FFF;
    }
  }

  .post-title {
    position: absolute;
    top:50px;
    left:50px;
    right:50px;
    color:#FFF;
    text-transform: uppercase;
    font-weight:700;
    font-size: 30px;

  }



  .post-body {
    display: none;
    background-color: rgb(251,251,251);
    height:100%;
    margin-bottom: 100px;
    padding:50px 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: rgb(76,76,76);
    line-height: 29px;

    .post-body-inner{
      width:92%;
      margin: auto;
    }
  }



}

}
